Django>=4.2,<5.0
django-allauth
django-crispy-forms
crispy-bootstrap5
Pillow
requests
python-dotenv
gunicorn==21.2.0
psycopg2-binary==2.9.10
whitenoise==6.8.2
PyJWT==2.10.0
cryptography==42.0.8
oauthlib==3.2.2
dj-database-url==2.1.0
